# Rust
/backend/target
/backend/Cargo.lock
internal.db
dockium.db
docksphere.db

# Node
/frontend/node_modules
/frontend/dist
/frontend/.eslintcache

# IDEs
.vscode
.idea
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.local

# Logs
/backend/build_err.txt
/backend/build_log.txt
/backend/build_log_utf8.txt
/frontend/frontend_log.txt

# Release
/release/

# TypeScript Output
/frontend/src/**/*.js
/frontend/src/**/*.d.ts
/frontend/src/**/*.map
